**pandas对象装配了一个常用数学，统计学方法的集合，这些方法常常对dataframe中的行或列中抽取一个Series或一系列的单个值进行操作**

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index = ['a', 'b', 'c', 'd'], columns = ['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

sum方法返回一个包含列上加和的Series

In [5]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [7]:
# 设置axis = 1，行内加和
df.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

除非整个切片上都是NAN值，否则NAN值是被自动排除的，可以通过设置禁用skipna来实现不排除NAN值

In [8]:
df.mean(axis = 'columns', skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

idxmax, idxmin返回的是间接统计信息，返回最大值或最小值的索引

In [10]:
df.idxmin()

one    d
two    b
dtype: object

cumsum:积累性方法

In [12]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

describe: 一次性产生多个汇总统计

In [13]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

### 唯一值、计数和成员属性

unique方法得到Series中的唯一值

In [6]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

value_counts方法计算Series包含的值的个数,按照数量降序排序

In [13]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

isin方法：成员属性检查，可以用来判断数据集的子集

In [14]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [16]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [17]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object