## 一.pandas之Series

**1.Series是一种一维的数组型对象，它包含了一个数值和数据标签，称为索引**

In [16]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

**2.通过valus属性和index属性分别获得Series对象的值和索引**

In [5]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
obj.index # 与range()相似

RangeIndex(start=0, stop=4, step=1)

**3.可以建立一个索引数列，用标签来标识每个数据点**

In [8]:
obj2 = pd.Series([4, 7, -5, 3], ['a', 'b', 'c', 'd'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

**可以使用标签来进行索引**

In [10]:
obj2['a']

4

In [12]:
obj2[['a', 'b', 'c']]

a    4
b    7
c   -5
dtype: int64

**4.支持数学运算和数学函数**

In [14]:
obj2[obj2 > 0]

a    4
b    7
d    3
dtype: int64

In [15]:
obj2 * 2

a     8
b    14
c   -10
d     6
dtype: int64

In [17]:
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

**5.Series也可以看成是一个字典**

In [18]:
'a' in obj2

True

In [19]:
'e' in obj2

False

**可以使用字典生成Series**

In [24]:
sdata = {'a' : 1, 'c' : 3, 'b' : 2, 'd' : 4}
obj3 = pd.Series(sdata)
obj3

a    1
c    3
b    2
d    4
dtype: int64

**自定义字典键的顺序**

In [26]:
states = ['a', 'b', 'c', 'e']
obj4 = pd.Series(sdata, states)
obj4

a    1.0
b    2.0
c    3.0
e    NaN
dtype: float64

在数据没有出现过的标签对应的值为NAN,因为‘d’不再states中，它被排除在结果对象外

**6.pandas中使用isnull和notnull来检查缺失数据**

In [27]:
pd.isnull(obj4)

a    False
b    False
c    False
e     True
dtype: bool

In [28]:
pd.notnull(obj4)

a     True
b     True
c     True
e    False
dtype: bool

In [29]:
obj4.isnull()

a    False
b    False
c    False
e     True
dtype: bool

In [30]:
obj4.notnull()

a     True
b     True
c     True
e    False
dtype: bool

**7.Series自动对齐索引**

In [31]:
obj3

a    1
c    3
b    2
d    4
dtype: int64

In [32]:
obj4

a    1.0
b    2.0
c    3.0
e    NaN
dtype: float64

In [33]:
obj3 + obj4

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

**8.Series对象自身和索引都有name属性**

In [34]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
a    1.0
b    2.0
c    3.0
e    NaN
Name: population, dtype: float64

**Series对象的索引可以通过按位置赋值的方式进行改变**

In [35]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [37]:
obj.index = ['a', 'b', 'c', 'd']
obj

a    4
b    7
c   -5
d    3
dtype: int64